[Unit]
Description=OpenCode Web UI
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/spy4x
Environment=PATH=/home/spy4x/.opencode/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin

ExecStart=/home/spy4x/.opencode/bin/opencode web --hostname 0.0.0.0 --port 8002
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
